<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>984386186860-qv2koo0b98mp88uihgnu3hba37mbnjl3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.984386186860-qv2koo0b98mp88uihgnu3hba37mbnjl3</string>
	<key>API_KEY</key>
	<string>AIzaSyAtD_L_Vayn3_KB-fOFL1BWYGDX7jvdlsQ</string>
	<key>GCM_SENDER_ID</key>
	<string>984386186860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iOSPushIndiaNIC</string>
	<key>PROJECT_ID</key>
	<string>webinar-b2902</string>
	<key>STORAGE_BUCKET</key>
	<string>webinar-b2902.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984386186860:ios:7a6073d30fffce2c</string>
	<key>DATABASE_URL</key>
	<string>https://webinar-b2902.firebaseio.com</string>
</dict>
</plist>